a {text-decoration: none;}
a:hover {color: grey;}
a:visited { color: grey; }


@font-face{
	src: (fonts/Gza-RegularItalic.otf);
	font-family: gza;
}

body{

	background-color:#f4f4f4f4;
	color :#555555;
	font-size:16px;
	overflow: hidden;
	 }


video {
position: absolute; 
min-width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

header { 
	font-family: gza;
	display: flex;
	background-color: #e6e8e8;
	color : grey;
	margin: .25px;
    padding: .25px;
}

h1 { 
	font-size: 20px;

}
nav ul { 
	min-height: 100px;
	font-size: 20px ;
	display: flex;
    text-align: right;
}

nav li { 
padding: 30px;
display: inline-block;
text-align: right;

 }

