a:visited { color: grey; }


@font-face{
	src: (fonts/Gza-RegularItalic.otf);
	font-family: gza;
}

body{

	background-color:#FFFFFF;
	color :#555555;
	font-size:16px;
	overflow: flex;
	 }
p {


	font-size: 15px;
}

video {
position: absolute; 
min-width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

header { 
	font-family: gza;
	background-color: #transparent;
	color : #FFC9AB;
	
}

h1 { 
	font-size: 50px;
	display: center;
	align-items: center;
	padding-left: 23px;


}
h2 { 
	font-size: 40px;
font-family: gza;
	background-color: #transparent;
	color : #FFC9AB;
}

/*navbar style guide */



/* The navigation bar */
.navbar {
  overflow: hidden;
  font-size: 40px;
  background-color: #transparent;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #FFC9AB;
  text-align: center;
  padding: 20px 25px;

  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #CCAFA7;
  color: #FFFFFF;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}